@page "/counter"

@using PlayTogether.Web.Services
@inject ClickerService Clicker
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStorage
@inject LobbyService LobbyService

@if (PlayerName != "")
{
    <h1> Deine Lobby: @LobbyService.findPlayerLobby(PlayerName).Name </h1>
    
    <div class="clicker-container">

        <h2>🍉 Clicker</h2>

        <h3>Clicks: @Clicker.clicks(PlayerName)</h3>


        <div class="melon-area">

            <button class="click-button" @onclick="Click">
                <img src="/images/wassermelonen.png" alt="Click Button"/>
            </button>

        </div>


        <p>Pro Klick: @Clicker.clickPower(PlayerName)</p>

        <a href="/shop">🛒 Shop öffnen</a>

    </div>
    @foreach
    (
        var tupel in LobbyService.getScoreboard
        (
            LobbyService.findPlayerLobby(PlayerName)
        )
    )
    {
        <p> @tupel.name  @tupel.score</p>
    }
}

@code { 
    
    protected override void OnInitialized()
    {
        Clicker.ClicksChanged += this.Player_ClicksChanged;
    }

    private void Player_ClicksChanged(object? sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }
    
    private string PlayerName = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await ProtectedLocalStorage.GetAsync<string>("username");
            if (result.Success && result.Value != null)
            {
                PlayerName = result.Value;
                StateHasChanged();
            }
        }
    }


    private void Click()
    {
        Clicker.AddClick(PlayerName);
    }

}