@page "/counter"
@implements IDisposable

@using PlayTogether.Web.Services
@inject ClickerService Clicker
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStorage
@inject LobbyService LobbyService
@inject NavigationManager Navigation

@if (PlayerName != "")
{
    <h1> Deine Lobby: @LobbyService.FindPlayerLobby(PlayerName)?.Name </h1>
    
    <div class="clicker-container">

        <h2>🍉 Clicker</h2>

        <h3>Clicks: @Clicker.Clicks(PlayerName)</h3>

        <div class="melon-area">
            <button class="click-button" @onclick="Click">
                <img src="/images/wassermelonen.png" alt="Click Button"/>
            </button>
        </div>


        <p>Pro Klick: @Clicker.ClickPower(PlayerName)</p>
        <p>Klicks jede 10 Sekunden: @Clicker.autoClickPower(PlayerName)</p>

        <a href="/shop">🛒 Shop öffnen</a>

    </div>
    
    <button class="click-button" @onclick="back">Lobby verlassen</button>
    
    <p> </p>
    
    @foreach
    (
        var tupel in LobbyService.GetScoreboard
        (
            LobbyService.FindPlayerLobby(PlayerName)
        )
    )
    {
        <p> @tupel.name  @tupel.score</p>
    }
}

@code { 
    
    protected override void OnInitialized()
    {
        Clicker.ClicksChanged += this.Player_ClicksChanged;
    }

    private void Player_ClicksChanged(object? sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }
    
    private string PlayerName = "";
    private System.Threading.Timer? refreshTimer;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await ProtectedLocalStorage.GetAsync<string>("username");
            if (result.Success && result.Value != null)
            {
                PlayerName = result.Value;
                StateHasChanged();

                StartUiRefresh();
            }
        }
    }

    private void StartUiRefresh()
    {
        refreshTimer = new System.Threading.Timer(_ =>
        {
            InvokeAsync(StateHasChanged);

        }, null, TimeSpan.FromSeconds(1), TimeSpan.FromSeconds(1));
    }

    private void Click()
    {
        Clicker.AddClick(PlayerName);
    }

    private void back()
    {
        Navigation.NavigateTo("/LobbyList");
        LobbyService.RemovePlayerFromLobby(PlayerName);
    }
    public void Dispose()
    {
        refreshTimer?.Dispose();
    }

}
