@page "/shop"
@implements IDisposable

@using PlayTogether.Web.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject ClickerService Clicker
@inject LobbyService Lobby
@inject NavigationManager Navigation
@inject ProtectedLocalStorage ProtectedLocalStorage


@if (PlayerName != "")
{
    <h1>Shop</h1>

    <h3>Deine Clicks: @Clicker.Clicks(PlayerName)</h3>

    <p>Stärke pro Klick: @Clicker.ClickPower(PlayerName)</p>

    <button class="btn btn-success" @onclick="BuyUpgrade" disabled="@(!CanAffordUpgrade)">
        Upgrade kaufen (@Clicker.UpgradeCost(PlayerName) Clicks)
    </button>
    <p>    </p>
    <p>Anzahl an Klicks jede 10 Sekunden🧑🏻‍🌾: @Clicker.autoClickPower(PlayerName)</p>

    <button class="btn btn-success" @onclick="BuyAutoClickUpgrade" disabled="@(!CanAffordAutoClickUpgrade)">
        Upgrade kaufen (@Clicker.autoClickUpgradeCost(PlayerName) Clicks)
    </button>

    <p>@message</p>

    <a href="/counter">Zurück zum Clicker</a>
}

@code {

    private string message = "";
    private string PlayerName = "";
    private System.Threading.Timer? refreshTimer;

    private bool CanAffordUpgrade =>
        Clicker.Clicks(PlayerName) >= Clicker.UpgradeCost(PlayerName);

    private bool CanAffordAutoClickUpgrade =>
        Clicker.Clicks(PlayerName) >= Clicker.autoClickUpgradeCost(PlayerName);

    private void BuyUpgrade()
    {
        if (Clicker.BuyUpgrade(PlayerName) == null) return;
        if ((bool) Clicker.BuyUpgrade(PlayerName) ) message = "Upgrade gekauft!";
        else message = "Nicht genug Clicks!";
    }

    private void BuyAutoClickUpgrade()
    {
        if (Clicker.BuyAutoClickUpgrade(PlayerName) == null) return;
        if ((bool) Clicker.BuyAutoClickUpgrade(PlayerName))
        {
            message = "Auto-Clicker Upgrade gekauft!";
        }
        else
        {
            message = "Nicht genug Clicks!";
        }
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await ProtectedLocalStorage.GetAsync<string>("username");
            if (result.Success &&  result.Value != null)
            {
                PlayerName = result.Value;
                StateHasChanged();

                StartUiRefresh();
            }
            else {
                Navigation.NavigateTo("/");
            }
        }
    }

    private void StartUiRefresh()
    {
        refreshTimer = new System.Threading.Timer(_ =>
        {
            InvokeAsync(StateHasChanged);

        }, null, TimeSpan.FromSeconds(1), TimeSpan.FromSeconds(1));
    }

    public void Dispose()
    {
        refreshTimer?.Dispose();
    }
}